.get-involved-wrapper-main {
    background: rgb(189, 218, 252);
    margin-top: 5%;

    .get-involved-box {
        width: 80%;
        margin: auto;
        padding: 0 0 6% 0;

        .get-involved-card-wrapper {

            img {
                width: 100%;
                height: 250px;
            }

            .first-card-img {
                height: 500px;
            }
        }

        .get-involved-heading {
            padding-top: 5%;

            p {
                font-size: 3rem;
                color: white;
                font-weight: 500;
            }
        }


        img {
            width: 100%;
            height: 100%;
        }


    }
}