.header-top {
    background: orange;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 1rem;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }

    .custom-header-top-container {
        width: 90%;

        p {
            font-size: 1rem;
            display: table-cell;
            vertical-align: middle;
        }

    }


}

// Header top end

.header-wrapper-banner {
    background-image: url(/images/magicpattern-87PP9Zd7MNo-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    header {
        .navbar {
            width: 90%;
            margin: auto;

            .company_logo_img {
                width: 100px;
            }

            ul {
                li {
                    padding: 0px 30px 0px 30px;
                    font-weight: 700;
                    font-size: 1.2rem;

                    a {
                        color: white;
                    }
                }
            }

        }
    }

    // banner heading
    .banner-heading {
        padding-top: 2%;

        p {
            color: white;
            font-size: 2rem;
            text-align: center;
            margin: auto;
            width: 80%;
        }
    }

    // carousel section
    .carousel-wrapper {
        padding-top: 4%;

        iframe {
            width: 100%;
        }
    }

    // banner bottom content
    .banner-bottom-content {
        width: 50%;
        margin: auto;
        padding-top: 2%;

        p {
            color: white;
            font-size: 1.4rem;
            text-align: center;
        }
    }

}